<configuration debug="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %green(%d{HH:mm:ss}) [%X{X-Correlation-ID}] %cyan([%-5.5t]) %boldCyan(%0.-5p) %yellow(%logger{36}) %cyan(%class.%M) : %m%n
            </pattern>
        </encoder>
    </appender>

    <if condition='isDefined("NAIS_CLUSTER_NAME")'>
        <then>
            <root level="INFO">
                <appender-ref ref="STDOUT"/>
            </root>
        </then>
        <else>
            <root level="INFO">
                <appender-ref ref="CONSOLE"/>
            </root>
        </else>
    </if>

    <logger name="no.nav.sokos.trekk" level="INFO"/>
</configuration>