.error {
    color: red;
}

textarea {
    width: 100%;
    height: 20em;
}

.arenaTable {
    border-collapse: collapse;
}

.arenaTable td {
    padding: .3em;
    border: 1px solid lightslategrey;
    vertical-align: top;
}

.vedtakTable {
    border-collapse: collapse;
}

.vedtakTable td {
    border: none;
}

.vedtakData {
    border-collapse: collapse;
}

.vedtakData td {
    margin: 0;
    border: 1px solid lightgray;
}