name: Deploy wiremock

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - 'LICENCE'
      - 'CODEOWNERS'
      - '.gitignore'
      - '.editorconfig'
      - 'setupLocalEnvironment.sh'
      - '.scripts'
      - 'dokumentasjon/**'
      - '.github/workflows/build-pr.yaml'
      - '.github/workflows/chainguard-digestabot.yaml'
      - '.github/workflows/codeql-trivy-scan.yaml'
      - '.github/workflows/deploy.yaml'
      - '.github/workflows/manual-deploy.yaml'
      - '.github/dependabot.yaml'

env:
  TZ: Europe/Oslo

jobs:
  build-push-image:
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Push Wiremock-image and push to GAR
        uses: nais/docker-build-push@v0
        id: docker-build-push
        with:
          team: okonomi
          dockerfile: .nais/wiremock/Dockerfile
          tag: ${{ inputs.image-tag }}
    outputs:
      image: ${{ steps.docker-build-push.outputs.image }}
      
  deploy-dev-qx:
    permissions:
      contents: read
      id-token: write
      pull-requests: write
      deployments: write
    needs: [ build-push-image ]
    name: Deploy wiremock to dev-fss-qx
    uses: navikt/mob-gha-workflows/.github/workflows/nais-deploy.yaml@main
    with:
      cluster: dev-fss
      resource: .nais/wiremock/wiremock-qx.yaml
      image: ${{ needs.build-push-image.outputs.image }}
